<ng-container>
  <h5>Cadastro de Demandante</h5>
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      </div>

      <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">$</span>
          <input type="text" pInputText placeholder="Price" />
          <span class="p-inputgroup-addon">.00</span>
        </div>
      </div>

      <div class="p-col-12 p-md-4"></div>
    </div>

    <h5>Telefone</h5>
    <div class="p-grid">
      <div class="p-col-12">
        <div class="p-inputgroup"></div>
      </div>
    </div>
    <h5>Telefone</h5>
    <div class="p-grid">
      <div class="p-col-12">
        <div class="p-inputgroup"></div>
      </div>
    </div>

    <h5>Button Addons</h5>
    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-4">
        <div class="p-inputgroup"></div>
      </div>
    </div>
  </div>
</ng-container>
